# Datos sensibles
datos/raw/
datos/microdatos/

# Outputs grandes
modelo/simulaciones/resultados_intermedios/
*.jld2
*.h5

# Entornos
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
